@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#a-night-journey-round-my-room blockquote{
	font-style: italic;
	text-align: center;
}

#a-journey-round-my-room-chapter-12 p{
	text-align: center;
	text-indent: 0;
}
